header
  .center
    a.header-home-item(href='/')
    a.header-navigation-item(href='/leagues') Ligen
    a.header-navigation-item(href='/models') Models
    a.header-navigation-item(href='/rulebooks') Regelwerk
    .header-user
      - if(user.name)
        .user-widget
          label(for='user-widget')
            .user-widget-name= user.name
            .user-widget-navigation
          input(type='checkbox', id='user-widget')
          .user-widget-navigation-list
            a(href='/logout').user-widget-navigation-list-item.user-widget-navigation-list-item-logout Logout
      - else
        a(href='/login') Login
        span or
        a(href='/login') Register