header
  .center
    a.header-home-item(href='/')
    a.header-navigation-item(href='/leagues') Ligen
    a.header-navigation-item(href='/models') Models
    a.header-navigation-item(href='/files/gntm_regelwerk.pdf' target='_blank') Regelwerk
    .header-user
      - if(user.name)
        .user-widget
          label(for='user-widget')
            .user-widget-name= user.name
            .user-widget-navigation
          input(type='checkbox', id='user-widget')
          .user-widget-navigation-list
            - if (user.league)
              a(href='/leagues/' + user.league).user-widget-navigation-list-item.user-widget-navigation-list-item-league Meine Liga
            //a(href='/settings').user-widget-navigation-list-item.user-widget-navigation-list-item-settings Einstellungen
            a(href='/logout').user-widget-navigation-list-item.user-widget-navigation-list-item-logout Logout
      - else
        a.links(href='/login') Einloggen
        span oder
        a.links(href='/login') Registrieren