extends layout

block content
  input(type='button', value='Register').gntm-button-confirm
  input(type='button', value='Delete').gntm-button-warning
  input(type='button', value='Cancel').gntm-button-neutral
