extends ../league.jade

block page
  .roaster
    .roaster-header
      .roaster-name Philli
    .roaster-container
      .roaster-girl
      .roaster-girl
      .roaster-girl
      .roaster-girl
  .roaster
    .roaster-header
      .roaster-name Daniel
    .roaster-container
      .roaster-girl
      .roaster-girl
      .roaster-girl
      .roaster-girl
  .roaster
    .roaster-header
      .roaster-name Silvan
    .roaster-container
      .roaster-girl
      .roaster-girl
      .roaster-girl
      .roaster-girl
  .roaster-overlay
  .roaster-overlay-menu
    .roaster-overlay-category.roaster-manager Philli
    .roaster-overlay-category.roaster-manager Daniel
    .roaster-overlay-category.roaster-freeagent Free Agent Market