include ../mixins/login

extends ../layout

block content
  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-index
        .header-topline-headline
          h1 Herzlich Willkommen!
          h2 Germany's Next Topmodel Drinking Game Manager Professional
  .center
    .page-index
      .events-list
        .events-header Neuigkeiten
        each event in events
          .events-item(data-type=event.key, data-url=eventKeys(event.key).url)
            .events-date(title=event._createdOn)= moment(event._createdOn).fromNow()
            .events-message
              - if (eventKeys(event.key).url)
                a(href=template(eventKeys(event.key).url, event.variables))!= template(eventKeys(event.key).message, event.variables)
              - else
                != template(eventKeys(event.key).message, event.variables)