extends ../layout

block content

  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-leagues
        .header-topline-headline
          h1= league.name
          h2= league.motto
  .page-league
    .page-league-navigation
      .center
        a(class="page-league-navigation-item " + (page === 'index' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/index') Übersicht
        a(class="page-league-navigation-item " + (page === 'members' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/members') Mitglieder
        a(class="page-league-navigation-item " + (page === 'roaster' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/roaster') Roaster
        a(class="page-league-navigation-item " + (page === 'playdays' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/playdays') Spieltage
    .page-league-content
      .center
        block page