extends ../layout

block content

  .header-topline
    .center
      .header-topline-logo.header-topline-leagues
      .header-topline-headline
        h1 Offizielle Spielverbände
        h2 Übersicht aller registrierten Spielverbände und Ligen
  .page-leagues
    .center Ligen
    a(href='/sdfdsf') sdfdssdf