extends ../layout

block content

  .header-topline
    .center
      .header-topline-container
        - if (user.id && isWithoutLeague)
          form.league-enroll(action='/memberships', method='post', data-action='/memberships', data-method='post', name='enterLeague')
            input(type='hidden', name='league', value=league.id)
            input(type='submit', value='+ Liga beitreten')
        .header-topline-logo.header-topline-leagues
        .header-topline-headline
          h1= league.name
          h2= league.motto
  .page-league(data-league=league.id, data-isAdmin=(isAdmin && isAdmin.toString()))
    .page-league-navigation
      .center
        - if(user && league.id === user.league.toString())
          .page-navigation-management
            a.page-navigation-management-item(href='/leagues/' + league.id + '/members') Mitglieder
            a.page-navigation-management-item(href='/leagues/' + league.id + '/posts') Beiträge
            a.page-navigation-management-item(href='/leagues/' + league.id + '/playdays') Spieltage
          a.page-league-navigation-item.page-league-navigation-item-management(href='#') Verwaltung
        a(class="page-league-navigation-item " + (page === 'index' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/index') Übersicht
        //a(class="page-league-navigation-item " + (page === 'rulebooks' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/rulebooks') Regelwerk
        a(class="page-league-navigation-item " + (page === 'roaster' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/roaster') Roaster
        a(class="page-league-navigation-item " + (page === 'playdays' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/playdays') Spieltage
        a(class="page-league-navigation-item " + (page === 'tables' ? "page-league-navigation-item-selected" : ""), href='/leagues/' + league.id + '/tables') Tabelle
    .page-league-content
      .center
        block page