extends ../layout

block content

  .header-topline
    .center
      .header-topline-logo.header-topline-models
      .header-topline-headline
        h1 Heidis Mädels
        h2 Übersicht aller teilnehmenden Models
  .page-models
    .center Models