extends ../layout

block content

  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-models
        .header-topline-headline
          h1 Die Models
          h2 Eine Übersicht aller Models.
  .center
    .page-models Models