extends ../layout

block content

  .header-topline
    .center
      .header-topline-container
        .header-topline-logo.header-topline-rulebooks
        .header-topline-headline
          h1 Offizielle Regelwerke
          h2 Übersicht aller offizieller Regelwerke teilnehmender Ligen
  .center
    .page-rulebooks
      .list
        .list-row.list-handles
          .list-column.list-handle.models-list-handle(data-sortname='displayname', data-sortorder='desc', data-type='string') Liga
        each rulebook in rulebooks
          .list-row.list-item.rulebook-list-item(data-displayname=rulebook.league.sortname)
            .list-column.rulebooks-list-column
              a(href='/leagues/' + rulebook.league.id + '/rulebooks')= rulebook.league.name